---
layout: default
---

<h3>API</h3>

<table>
    <caption>Details about this API</caption>
    <tbody>
        <tr>
            <td>API title or name</td>
            <td>{{ page.title }}</td>
        </tr>
        <tr>
            <td>OpenAPI URL</td>
            <td><a href="{{ page.openAPIUrl }}">{{ page.openAPIUrl }}</a></td>
        </tr>
        <tr>
            <td>Endpoint URL</td>
            <td><a href="{{ page.endpointUrl }}">{{ page.endpointUrl }}</a></td>
        </tr>
        <tr>
            <td>Licence SPDX code</td>
            <td>{{ page.licenceSpdx }}</td>
        </tr>
    </tbody>
</table>


{{ content }}
